{% extends "base.html" %}

{% block title %}
    <title>ECEI - Mauvais chemin</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block content %}
    <div style="background-color: #2e2d78; border-radius: 10px;height: 100px; text-align: center; width: auto;"><h2 style="margin-top: 30px; color: white;padding: 30px">Mauvais Chemin !</h2></div>
    <br><br><br><br>
    <img src="../static/images/png-clipart-exclamation-mark-interjection-warning-sign-miscellaneous-blue__1_-removebg-preview.png" style="height: 300px;">
{% endblock %}
