{% extends "base.html" %}

{% block title %}
    <title>ECEI - Fabrication</title>
{% endblock %}


{% block script %}
    <script type="text/javascript" src="../static/scripts/TAB_Fab.js"></script>
{% endblock %}

{% block marque %}
    <a href="produits"><button class="menu" type="button">Produits</button></a>
    <a href="fabrication"><button class="menu" type="button" style="background-color: #D0F7C2FF">Fabrications</button></a>
{% endblock %}

{% block content %}
    <ol>
        <a href="ajoutFabrication"><button class="addBtn" type="button">Ajouter Fabrication</button></a>
    </ol>
<div id="table-container"></div>
        <div id="table-Fabrication"></div>
{% endblock %}
