<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/tabulator-master/dist/css/tabulator.css" rel="stylesheet">
    <script type="text/javascript" src="../static/tabulator-master/dist/js/tabulator.js"></script>
    <script type="text/javascript" src="../static/scripts/TAB_Settings.js"></script>
</head>
<body>
    <div id="table-container"></div>
        <div id="table-Settings"></div>
</body>
</html>
